.has-yellow-color {
  color: #ffcb05 !important;
}

.has-small-font-size {
  font-size: 14px !important;
}


.has-normal-font-size {
  font-size: 18px !important;
}

.has-large-font-size {
  font-size: 24px !important;
}


.has-huge-font-size {
  font-size: 30px !important;
}
