.sisense-block-section::before {
    content: 'Section';
    position: relative;
    background: #cbcbcb;
    top: -11px;
    left: -5px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: content-box;
    font-size: 16px;
}


.sisense-block-container::before {
    content: 'Container';
    position: relative;
    background: #cbcbcb;
    top: -11px;
    left: -5px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: content-box;
    font-size: 16px;
}


.sisense-block-container.container {
    max-width: 90%;
    margin: 0 auto;
}

.sisense-block-row::before {
    content: 'Row';
    position: relative;
    background: #cbcbcb;
    top: -11px;
    left: -5px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: content-box;
    font-size: 16px;
}

.sisense-block-column::before {
    content: 'Column';
    position: relative;
    background: #cbcbcb;
    top: -11px;
    left: -5px;
    cursor: pointer;
    padding: 5px 10px;
    box-sizing: content-box;
    font-size: 16px;
}

.sisense-block-column.col-md-6 {
  width: 50% !important;
}
