.blockTitle {
    position: relative;
    cursor: pointer;
    box-sizing: content-box;
    font-size: 16px;
    text-align: center;
    display: block;
    border: 3px dashed #cbcbcb;
    color: #cbcbcb;
    left: -20px;
    width: calc(100% + 34px);
    z-index: 10;
}

.btn-add {
  margin: 10px auto;
  display: block;
}

.sisense-block-section {
    border: 3px dashed #cbcbcb;
}

.sisense-block-section > .blockTitle {
    border-top:none;
    border-left: none;
    border-right: none;
}

.sisense-layout-block {
  padding: 0 20px;
}

.sisense-block-container {
    border: 1px solid transparent;
}


.sisense-block-container.container {
    max-width: 95%;
    margin: 0 auto;
}

.sisense-block-row .editor-block-list__layout.block-editor-block-list__layout{
    display: flex;
    flex-flow: wrap;
}

.sisense-block-content-tabs .editor-block-list__layout.block-editor-block-list__layout{
    display: flex;
    flex-flow: wrap;
}

.sisense-block-content-tab .editor-block-list__layout.block-editor-block-list__layout{
    display: flex;
    flex-flow: wrap;
}

.sisense-block-content-tab .tab img {
  display: block;
  margin: 0 auto 10px auto;
  height: 150px;
}

.sisense-block-content-tab .tab h3 {
  text-align: center;
}

.sisense-block-content-tab .tab p {
  text-align: center;
  margin-bottom: 20px;
}

.sisense-block-content-tab .tab img {
  display: block;
  margin: 10px auto;
}

.wp-block[data-column-size="col-md-12"]{
    width: 100% !important;
}

.wp-block[data-column-size="col-md-6"]{
    width: 50% !important;
}

.wp-block[data-column-size="col-md-4"]{
    width: 33.33333% !important;
}
